/* MovieCard.css */
.movie-card {
    background-color: #2e2e2e;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    max-width: 200px; /* הוספת הגבלת רוחב מקסימלי */

  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-info {
    padding: 1rem;
  }
  
  .movie-info h3 {
    margin: 0.5rem 0;
  }
  
  .movie-info p {
    margin: 0.2rem 0;
  }
  
  .watch-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: #ff8000; /* צבע כתום להתאמה לעיצוב */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .watch-button:hover {
    background-color: #e67300; /* צבע כהה יותר במעבר עכבר */
  }